.footer {
    background-color: black;
    color: white;
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    background-color: black;
    display: flex;
    height: 50px;
    margin: 0px;
    padding: 0px 40px;
    opacity: 0.6;
    justify-content: space-between;
    display: flex;
}

.footer-image {
    width: 50px;
    size: 50px;
    margin: 5px;
    text-decoration: none;
    opacity: 0.8;
}
a {
    list-style: none;
    color: inherit;
}

.footer-image:hover {
  transform: scale(1.2);
  transition-duration: 0.4s;
  opacity: 1;
}

.footer-image:not(:hover) {
  transition-duration: 0.4s;
}