body {
    margin: 0px;
    padding: 30px;
}

#nav-bar {
    
    position: fixed;
  background-color: black;
  width: 88.15%;
  margin: auto;
  top: 0;
    font-family: 'Handlee', cursive;
    display: flex;
    justify-content: space-between;
    background-color: 255, 255, 255, 0.9;
    padding: 30px;
    font-weight: bold;
}

#nav-bar-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

li, a {
    list-style: none;
    text-decoration: none;
}

.nav-bar-item-right {
    padding-left: 30px;
    
}
.nav-bar-item-left {
    padding-right: 30px;
    
}

.nav-bar-link {
    color: #4f5d75;
}