.page-body {
    padding: 0px 180px;
    line-height: 1.6;
    font-size: 1em;
    color: #8ecae6;
}

h2 {
    padding: 20px 0px 0px 0px;
    text-align: center;
    color: #ce4257;
}

.list-bullet > li{
    list-style-type: circle; ;
}