.page-body {
    padding: 50px 180px;
    line-height: 1.6;
    font-size: 1em;
    color: #8ecae6;
}

h2 {
    padding: 20px 0px 0px 0px;
    text-align: center;
    color: #ce4257;
    text-transform: uppercase
}

.list-bullet > li{
    list-style-type: circle; ;
}

/* .column {
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px 100px;
    padding-bottom: 40px;
} */

.website-screenshot {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  height: auto;
  display: flex;
  border-radius: 5%;
  box-shadow: 0 0 2px 1px rgba(90,90,90, 0.8);
  opacity: 0.6;
}
.website-screenshot:hover {
  transform: scale(1.2);
  transition-duration: 0.4s;
  transition-delay: 0.05s;
  opacity: 0.9
}

.website-screenshot:not(:hover) {
  transition-duration: 0.4s;
}

.column-right {
    width: 40%;
    display: flex;
    padding: 30px;
}

.column-left {
    width: 40%;
    display: flex;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid darkred; 
}

.column {
  display: flex;
  flex-direction: column;

  flex-basis: 100%;
  flex: 1;
}

h4 {
    text-align: center;
    color: #ce4257;
}

.project-description {
  padding-top: 30px;
  font-size: 0.85em;
}

.home {
  padding: 50px 100px;
}

.home-para {
  max-width: 50%;
}

.home-image {
  width: 100%;
  width: 500px;
  height: auto;
  display: flex;
  border-radius: 10%;
  color: inherit;
  box-shadow: inset 0px 0px 10px 20px white;
}

.grad1 {
  height: 200px;
  width: 400px;
  object-fit: contain;
  background-image: url(../images/Desk.jpeg)
}


.gradup {
  height: 100%;
  width: 100%;
  background: radial-gradient(transparent 40%, black 70%); /* Set radial-gradient to faded edges */
}

.container {
	margin: auto;
	width: 200px;
	position: relative;
}

.block {
	width: 500px;
	position: absolute;
	bottom: 0px;
	top: 0px;
	box-shadow: inset 0px 0px 10px 20px black;
}

.project-github-image {
    margin: 5px;
    text-decoration: none;
    opacity: 0.8;
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.project-github-image:hover {
  transform: scale(1.2);
  transition-duration: 0.4s;
  opacity: 1;
}

.project-github-image:not(:hover) {
  transition-duration: 0.4s;
}